@import "colors.css";

body {
	margin: 0px;
	background: var(--background);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	padding: 0px 40px;
}

article {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

article h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
}

article form {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

article form label {
	width: 100%;
	background-color: var(--background-secondary);
	transition: background-color 0.3s;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 8px;
}

article form label:has(input[type="radio"]:checked) {
	background: var(--primary);
}

article form input[type="radio"] {
	display: none;
}

button {
	width: 30%;
	padding: 16px;
	border-radius: 8px;
	border: none;
	background: var(--background-tertiary);
	color: var(--text);
	position: absolute;
	transition: background-color 0.3s;
}

button[disabled] {
	background: var(--background-secondary);
}

#btn-container {
	position: relative;
	height: 48px;
}

#next-btn {
	right: 0;
}

#prev-btn {
	left: 0;
}

footer {
	height: 32px;
	padding: 8px;
	background: var(--background-secondary);
	color: var(--text-secondary);
	display: flex;
	align-items: center;
}

footer div {
	width: 100%;
	background: var(--text-secondary);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2px;
}

footer div p {
	margin: 0px;
	background: var(--background-secondary);
	text-align: center;
}

footer div p a {
	color: var(--text-secondary);
}
